In [43]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import os

In [44]:

base_dir = os.path.abspath(os.path.join('..', 'csv'))

file_path = os.path.join(base_dir, 'Student Depression Dataset.csv')

data = pd.read_csv(file_path)
data

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Sucide,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33,Visakhapatnam,Student,5,0,8.97,2,0,5-6 hours,Healthy,B.Pharm,Yes,3,1.0,No,1
1,8,Female,24,Bangalore,Student,2,0,5.90,5,0,5-6 hours,Moderate,BSc,No,3,2.0,Yes,0
2,26,Male,31,Srinagar,Student,3,0,7.03,5,0,Less than 5 hours,Healthy,BA,No,9,1.0,Yes,0
3,30,Female,28,Varanasi,Student,3,0,5.59,2,0,7-8 hours,Moderate,BCA,Yes,4,5.0,Yes,1
4,32,Female,25,Jaipur,Student,4,0,8.13,3,0,5-6 hours,Moderate,M.Tech,Yes,1,1.0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,140685,Female,27,Surat,Student,5,0,5.75,5,0,5-6 hours,Unhealthy,Class 12,Yes,7,1.0,Yes,0
27897,140686,Male,27,Ludhiana,Student,2,0,9.40,3,0,Less than 5 hours,Healthy,MSc,No,0,3.0,Yes,0
27898,140689,Male,31,Faridabad,Student,3,0,6.61,4,0,5-6 hours,Unhealthy,MD,No,12,2.0,No,0
27899,140690,Female,18,Ludhiana,Student,5,0,6.88,2,0,Less than 5 hours,Healthy,Class 12,Yes,10,5.0,No,1
27900,140699,Male,27,Patna,Student,4,0,9.24,1,0,Less than 5 hours,Healthy,BCA,Yes,2,3.0,Yes,1

In [45]:
data['Gender'] = data['Gender'].map({'Male': 1, 'Female': 0})
data['Sucide'] = data['Sucide'].map({'Yes': 1, 'No': 0})
data['Family History of Mental Illness'] = data['Family History of Mental Illness'].map({'Yes': 1, 'No': 0})
sleep_mapping = {
    '5-6 hours': 5.5,
    '6-7 hours': 6.5,
    '7-8 hours': 7.5,
    '8-9 hours': 8.5,
    '4-5 hours': 4.5
}
data['Sleep Duration'] = data['Sleep Duration'].map(sleep_mapping)

In [46]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
data['City'] = label_encoder.fit_transform(data['City'])
data['Sleep Duration'] = label_encoder.fit_transform(data['Sleep Duration'])
data['Dietary Habits'] = label_encoder.fit_transform(data['Dietary Habits'])
data['Degree'] = label_encoder.fit_transform(data['Degree'])
data['Profession'] = label_encoder.fit_transform(data['Profession'])

In [1]:
X = data[['Gender', 'Age', 'Academic Pressure','CGPA', 'Study Satisfaction','Sleep Duration', 'Dietary Habits', 'Degree','Depression']]

# X = data.drop(columns=['Work/Study Hours'])
y = data['Work/Study Hours']

# Step 4: Split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train

NameError: name 'data' is not defined

In [1]:
from sklearn.linear_model import LinearRegression
X_train = X_train.dropna()
y_train = y_train[X_train.index]

model = LinearRegression()
model.fit(X_train, y_train)

NameError: name 'X_train' is not defined

In [49]:
# Drop rows with NaN values in X_train and X_test
X_train = X_train.dropna()
X_test = X_test.dropna()

# Make sure to align the y_train and y_test with the updated X_train and X_test
y_train = y_train[X_train.index]
y_test = y_test[X_test.index]

# Fit the model and make predictions
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [50]:
y_pred

array([6.22229004, 6.24188601, 6.26369722, ..., 7.67675876, 6.36448739,
       7.69960007], shape=(5581,))

In [51]:
y_train

13048     4
24535    12
15303    12
22444    10
18744    11
         ..
21575    10
5390      3
860       6
15795     0
23654     5
Name: Work/Study Hours, Length: 22320, dtype: int64

In [52]:
r2 = model.score(X_test, y_test)
print(f"R² Score: {r2}")

R² Score: 0.049399896933761456